<p>The Science of Magnetism is very intricate and bewildering to the minds of man. This is a tracking report of such mysteries.</p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="mags">
  <thead>
    <tr>
      <th>Date</th>
      <th>MegaMagnetos (MMM)</th>
      <th>ElectroMagic Units (EMU)</th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let mag of mags">
      <td>{{ mag.date }}</td>
      <td>{{ mag.magnetos }}</td>
      <td>{{ mag.electroUnits }}</td>
      <td>{{ mag.summary }}</td>
    </tr>
  </tbody>
</table>
